
<br>
<div class="hero-unit">
  <h1>工作周报</h1>
  <p>好记性，不如烂笔头</p>
  <p>
    <a class="btn btn-primary btn-large" href="/home/more">
      Learn more
    </a>
  </p>
</div>

<ul class="unstyled">
  <li><i class="icon-pencil"></i><%= link_to "新建上周总结内容", new_summary_path %> </li>
  <li><i class="icon-pencil"></i><%= link_to '新建本周工作计划', new_plan_path %></li>
</ul>


