<h1>Q:为什么要写周报？</h1>
<br />
<p>A:<em>BOSS大佬们</em>要求，作为月底、年终绩效考核的依据。此外，我们建议使用 <%= link_to "Evernote",  "https://evernote.com/" %> 记录每天的工作日志，设计思路和灵感的想法。</p>
<br />
<h1>Q:如何写好周报？</h1>
<br />
<p>A:只要认真对待就行了 </p>
<br />
<h1>Q:我想改进本系统，怎么办？</h1>
<br />
<p>A:本系统使用 <%= link_to "Rails 4.0", "http://rubyonrails.org/" %> + <%= link_to "Bootstrap", "http://wrongwaycn.github.io/bootstrap/docs/" %> 开发，欢迎加入改善她！</p>

